:root {
  --primary-color: tomato;
  --paragraph-color: rgb(246, 206, 201);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}

.links-bar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.links-bar a {
  margin: 20px;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.secondary-link {
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact-link {
  text-decoration: none;
  color: var(--primary-color);
}

.about-image-format {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.index-image-format {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
