:root {
  --primary-color: tomato;
  --secondary-color: salmon;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 60px auto;
  max-width: 800px;
}
img {
  max-width: 100%;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}

.links-bar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.links-bar a {
  padding: 20px 15px;
  margin: 20px;
  border-radius: 5px;
  text-decoration: none;
}
.links-bar .about-link {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.links-bar .contact-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.link-box {
  width: 100%;
  text-align: left;
}
.home-link {
  display: inline-block;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  background-color: var(--secondary-color);
  padding: 3px 20px;
  margin-bottom: 10px;
}

.about-dobby {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}
.about-dobby p {
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.contact-link {
  text-decoration: none;
  color: var(--primary-color);
}
